body {
	background-color: #F8F8F8;
}
#title {
	font-size: 50px;
	padding: 30px 0px 50px 0px;
}
#textbox {
	display: block;
	height: 30px;
	font-size: 20px;
	border: 1px solid #BBBBBB;
}
#chunk_count {
	font-size: 20px;
	padding: 25px 0px;
}
#display_chunks {
    font-size: 40px;
}
.chunk_box {
	background-color: white;
	display: inline-block;
	padding: 50px 30px;
	border: 1px #BBBBBB;
}
.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
